RewriteEngine On
RewriteBase /ci/

# Redirect to remove "index.php" from the URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Redirect "/admin/admin" to "/admin"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin/admin(.*)$ admin$1 [R=301,L]
